include ./layouts/main-layout

block content 
    section.m-5.p-5
    .container.text-center
        .row
            .col
                i.fab.fa-node.bg-success.fa-10x.p-5
            .col
                h1 API For Forum Web Pages
                p.lead
                em  Like Stack Overflow, Ekşi Sözlük etc. 
                p.lead
                | This api is installed on heroku. You can use it if you want.
                | Routes and model diagrams of http requests are available in the
                | navbar.
                p.lead Maybe categories can be added for questions.
                p.lead Frontend development is in progress.
